# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
.gitignore

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

linux-2.6.22.6/.config
linux-2.6.22.6/.tmp_kallsyms1.S
linux-2.6.22.6/.tmp_kallsyms2.S
linux-2.6.22.6/.tmp_vmlinux1
linux-2.6.22.6/.tmp_vmlinux2
linux-2.6.22.6/.version
linux-2.6.22.6/arch/arm/boot/compressed/vmlinux
linux-2.6.22.6/arch/arm/boot/compressed/vmlinux.lds
linux-2.6.22.6/arch/arm/kernel/asm-offsets.s
linux-2.6.22.6/arch/arm/kernel/vmlinux.lds
linux-2.6.22.6/include/asm
linux-2.6.22.6/include/asm-arm/.arch
linux-2.6.22.6/include/asm-arm/asm-offsets.h
linux-2.6.22.6/include/asm-arm/plat-s3c24xx/gpio-cfg.h
linux-2.6.22.6/include/config/
linux-2.6.22.6/include/linux/autoconf.h
linux-2.6.22.6/include/linux/compile.h
linux-2.6.22.6/include/linux/utsrelease.h
linux-2.6.22.6/include/linux/version.h
linux-2.6.22.6/vmlinux
